.Background{
    background-color: rgba(94, 121, 180, 0.63);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition: all 0.5s ease;
}
